
<div class="py-5 border-top">
  <div class="container-fluid">


      <div class="float-right">

          <a rel="me" href="https://twitter.com/joesmio" title="{{ social.twitter}}"><svg class="svg-icon grey"><use xlink:href="{{ '/assets/minima-social-icons.svg#twitter'}}"></use></svg></a>
          <a rel="me" href="https://github.com/joesmio" title="{{ social.github}}"><svg class="svg-icon grey"><use xlink:href="{{ '/assets/minima-social-icons.svg#github'}}"></use></svg></a>

      </div>


  </div>
</div>
