---
layout: default
---

<div>



  {%- if page.image -%}
  <img src="{{ page.image }}" alt="{{ page.title }}" class="rounded mx-auto d-block"></a>
  <br>
  {%- endif -%}

  {%- if page.title -%}
  <h4>{{ page.title }}</h4>
  {%- endif -%}

  <section>
    {{ content }}
  </section>
  <br>
  {%- if page.lab -%}
  <div class="row justify-content-center">
    <div class="col-sm-4">
  <img src="assets/lab3.jpeg" alt="{{ page.title }}" class="rounded img-responsive">
      </div>
    <div class="col-sm-3">

    <img src="assets/lab1.jpeg" alt="{{ page.title }}" class="rounded img-responsive">
    </div>

    <div class="col-sm-4">
      <img src="assets/lab2.jpeg" alt="{{ page.title }}" class="rounded img-responsive">
    </div>
    </div>
  <br>
  <div class="row justify-content-center", padding="30px">
    <i> Pictures from the lab in 2023: Vivek Tiwari measuring an NV centre PL at 10 K; Hao-Cheng Weng performing a Rabi oscillation </i>
</div>
    <br>
  {%- endif -%}

  {%- if site.posts.size > 0 -%}
    <p class="h4">{{ page.list_title | default: "Posts" }}</p>
    <ul class="list-unstyled">
      {%- for post in site.posts -%}
      <li>
        <span class="text-muted">
          {%- assign date_format = "%b %-d, %Y" -%}
          {{ post.date | date: date_format }}
        </span>
        <p class="h5">
          <a href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </p>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
