---
layout: default
---

<div>
  <ul class="list-unstyled">

    {% assign sorted = site.publications | reverse %}
  {% for item in sorted %}
    <li>
      <div class="container">
        <div class="row">
          <div class="col-md">
            <blockquote>
              <h4><a href="{{ item.link }}">{{ item.title }}</a></h4>
              {{ item.authors }}
              <br>
              <i>{{ item.journal }}</i>
              <p>
                {{item.content}}
              </p>
              {%- if item.arxiv -%}
              Arxiv link at <a href="{{ item.arxiv }}">{{ item.arxiv }}</a>
              {%- endif -%}
            </blockquote>          </div>
          <div class="col-lg-3">
            {%- if item.thumbnail -%}
            <a href="{{ item.link }}"><img src="{{ item.thumbnail }}" alt="{{ item.title }}" class="img-thumbnail"></a>
            {%- endif -%}
          </div>
        </div>
      </div>


    </li>
  <br>
  {% endfor %}
  </ul>


</div>
